.nav-bar-link-fix {
  color: rgba(255, 255, 255, 0.55);
  display: block;
  padding: 0.5rem 1rem;
  &:hover {
    color: #fff;
  }
}

.navbar {
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  text-align: center;
  justify-self: center;
}

.navbar-brand h5 {
  margin: 0;
  font-weight: 400;
  span {
    font-weight: 800;
  }
}

thead {
  background-color: #393d42;
  color: white;
}

.container-fluid {
  padding: 1rem 8rem;
}
