$main-color: #822181;
$main-color-dark: #541554;
$main-color-ultra-dark: #300c30;
$secondary-color: #006683;
$secondary-color-light: #cdf4ff;
$secondary-color-dark: #004457;
$secondary-color-ultra-dark: #00303d;
$dark-color: #343a40;
$text-color: #181818;
